*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

/* ----------- inizio header --------- */

header{
    height: 80px;
    width: 100%;
    background-color: #fc6b04;
    position: fixed;
    z-index: 9;
    top: 0;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.header-bar{
    height: 100%;
    width: 70%;
    background-color: #fc6b04;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.header-bar .bar-elements a{
    color: white;
    text-decoration: none;
}

.header-bar .gender a{
    padding: 7px 5px;
    font-weight: 500;
}

.header-bar .header-items a{
    padding: 7px 3px;
}

/* ---------- fine header --------- */





/* ----------- inizio main----------- */


main{
    margin-top: 120px;
}

main .column-products{
    width: 70%;
    height: 700px;
    margin: auto;
    justify-content: space-between;
    margin-top: 50px;
}

main .column-products .product{
    height: 100%;
    width: 32%;
    position: relative;
}

main .column-products .photo{
    height: 90%;
    width: 100%;
    background-size: cover;
    position: relative;
}


main .photo.one{
    background-image: url("../img/1b.webp");
    position: relative;
}  

main .photo.one{
    background-image: url("../img/1.webp");
    position: relative;
}  
 
main .photo.one:hover{
    background-image: url("../img/1b.webp");
}

main .photo.two{
    background-image: url("../img/2.webp");
}

main .photo.two:hover{
    background-image: url("../img/2b.webp");
}

main .photo.three{
    background-image: url("../img/3.webp");
}

main .photo.three:hover{
    background-image: url("../img/3b.webp");
}

main .photo.four{
    background-image: url("../img/4.webp");
}

main .photo.four:hover{
    background-image: url("../img/4b.webp");
}

main .photo.five{
    background-image: url("../img/5.webp");
}

main .photo.five:hover{
    background-image: url("../img/5b.webp");
}

main .photo.six{
    background-image: url("../img/6.webp");
}

main .photo.six:hover{
    background-image: url("../img/6b.webp");
}

main .info-product{
    padding-top: 5px;
}

main .info-product > span{
    display: block;
}

main .info-product .discount{
    font-weight: 700;
    color: red;
}

main .info-product .normal-price{
    font-weight: 400;
    text-decoration: line-through;
}

main .info-product > span:first-child{
    font-size: 0.9em;
}

main .photo .heart{
    font-size: 25px;
    background-color: white;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 10px;
    color: black;
}

main .photo .heart:hover{
    color: red;
}

main .labels{
    display: inline-block;
    position: absolute;
    bottom: 50px;
}

main .labels > span{
    padding: 5px 10px;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
}

main .labels .label-red{
    background-color: red;
}

main .labels .label-green{
    background-color: green;
}

/* ------------- fine main -------------- */




/* ------------- inizio footer -------------- */

footer{
    height: 100px;
    background-color: #343434;
    margin-top: 70px;
}

.footer-bar{
    width: 70%;
    height: 100%;
    background-color: #343434;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

.footer-bar .info-business > div{
    font-size: 1.1em;
    font-weight: 600;
}

.footer-bar .info-business a{
    font-size: 0.8em;
    padding-right: 5px;
}

.footer-bar .socials i{
    font-size: 25px;
    padding-right: 5px;
    padding-top: 3px;
}

/* ---------- fine footer -------- */

