*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* ----------- inizio header --------- */

header{
    height: 80px;
    width: 100%;
    background-color: #fc6b04;
}

.header-bar{
    height: 100%;
    width: 70%;
    background-color: #fc6b04;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.header-bar .bar-elements a{
    color: white;
    text-decoration: none;
}

.header-bar .gender a{
    padding: 7px 5px;
    font-weight: 500;
}

.header-bar .header-items a{
    padding: 7px 3px;
}

/* ---------- fine header --------- */





/* ----------- inizio main----------- */

main{
    height: 1000px;
}

main .column-products{
    width: 70%;
    height: 700px;
    margin: auto;
    justify-content: space-between;
    padding-top: 50px;
    /* background-color: red; */
}

main .column-products .product{
    height: 100%;
    width: 32%;
    /* background-color: green; */
}

main .column-products .photo{
    height: 90%;
    width: 100%;
    background-size: cover;
}

main .photo.one{
    background-image: url("../img/1.webp");
}

main .photo.two{
    background-image: url("../img/2.webp");
}

main .photo.three{
    background-image: url("../img/3.webp");
}

main .photo.four{
    background-image: url("../img/4.webp");
}

main .photo.five{
    background-image: url("../img/5.webp");
}

main .photo.six{
    background-image: url("../img/6.webp");
}

main .info-product{
    padding-top: 5px;
}

main .info-product > span{
    display: block;
}

main .info-product .discount{
    font-weight: 700;
    color: red;
}

main .info-product .normal-price{
    font-weight: 400;
    text-decoration: line-through;
}